<div id="block_container3" class="container-fluid3">
    <h2>About</h2>
    <p>
    Shaastra Solutions is an initiative which aims at bridging the gap between universities and industries.The jump from college to industry is usually a huge one for the college student. This is mainly due to lack of experience to working environment in the industrial sector. Shaastra Solutions outsources problems/assignments faced by companies to undergraduate students all across India. Out of the
    applicants, a rigorous selection process will choose the select few participants. These high quality participants will be grouped into teams and assigned various targets/tasks by companies to complete, in a span of 4-6 weeks. Projects are taken from a variety of fields to provide ample opportunity for people with varying talents to participate in whatever fields they choose. In addition to all this Shaastra Solutions will act as an effective communication bridge between company and team, ensuring the fulfilment of both their interests
    </p>
    <br/>

    <p><h4>Areas we are currently taking up projects in :</h4></p>

    <table>
	  <tr>
    	<th>Services we offer</th>
    	<th>What our team is expected to do</th> 
  	</tr>
  	<tr>
    	<td>Performance Consultancy</td>
    	<td>Teams will focus on the execution of an initiative or overall performance of their client</td>
  	</tr>
	  <tr>
    	<td>Marketing and Sales</td>
    	<td>Team will provide advice on appropriate marketing and sales strategy to increase product/service sale</td>
  	</tr>
  	<tr>
    	<td>Market and Product Research</td>
    	<td>Teams will help chart out the course of an already existing/new product into what should be done, for it to be successful. This also includes looking at monetizable avenues</td>
  	</tr>
	</table>  
  
</div>
