<div>
<div id="block_container2" class="container-fluid1">
	<article id="bloc3">
	<div>
		<h2>Partners</h2>
			We strive to provide an assortment of innovative
			offerings, global and local,through our various value added services and
			partners.
 	<div>
		<h4><b>Clonect:</b></h4>
			Clonect Solutions is a leading company in the GRC space (Governance, Risk and Compliance). It has a few products in Compliance and Risk management which are used by its clients (business organisations) on a subscription/user license basis. The company seeks to produce a product in a new field.
			Shaastra Solutions is currently conducting a market research and entry strategy development, to ensure the feasibility of such a project.
		<p>
		<p class="bloc31"><img src="./images/clonect_logo.png" height="40px" width="100px"></p>
			<p class="bloc31" id="bloc31">Click <a href="http://www.clonect.com/" target="_blank">here</a> for more information on Clonect.</p>
		</p>
	</div>
	</div>
	<div>
		<h4><b>BizWiz:</b></h4>
			Bizwiz is a Professional Skills Learning Platform and is one of the Premiere education organisations and it provides numerous learning tools to empower faculties. BIZWIZ LEARNING provides interactive courses, workshops, competitions, assessments, simulations, live projects, industry trips and mentoring to up-skill individual. It offers a platform for Enhancing Professional Skills provide experiential and interactive trainings, simulations and other learning solutions in the areas of management.
			Shaastra Solutions is currently performing a case analysis of student E-cells across the country and providing detailed conclusion based recommendations.
		<p>
			<p class="bloc31"><img src="./images/bizwiz_logo.jpg" height="80px" width="100px"></p>
			<p class="bloc31" id="bloc31">Click <a href="http://www.getbizwiz.com/" target="_blank">here</a> for more information on BizWiz.</p>
		</p>
	</div>
	</article>
	<article id="bloc4">
		<h2>What's in it for you?</h2>
		<!-- <p><b>People</b></p> -->
		Shaastra solutions in collaboration with the client is providing not only certificates but also cash prizes upon completion of project deliverables ! There is also an immense amount of experience to be gained! Solutions has provided each project team mentors to help in thecompletion of the project! Also sometimes we may have some project specific goodies for the participants!<br>
		Want to find out more, feel free to send any queries to <a><b>solutions@shaastra.org</b></a>.<br>We’ve got more projects lined up and coming up! Register in advance, and get a chance to be part of our next project! If you are a company representative with a project in mind, send us a small brief here. Sign up, solve and evolve.
	</article>

</div>

</div>
<!-- <script type="text/javascript">
var slideIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 3000); // Change image every 2 seconds
}	
</script> -->

